/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0.5em;
}

/*
    Menu
*/

.menu {
    list-style-type: none;
    padding: 0.5em;
    padding-left: 0;
    margin-right: 1em;
}

.menu > li + li {
    margin-top: 0.5em;
}