<EditForm class="m-3" Model=@this OnValidSubmit="HandleSubmit">
	<div class="mb-3">
		<label for="memorySize" class="form-label">Request URL:</label>
		<div class="input-group">
			<InputText type="url" class="form-control"
				   id="requestUrl" name="requestUrl"
				   required
				   @bind-Value="RequestUrl" />
			<InputSelect class="form-select flex-grow-0 w-auto" @bind-Value="RequestMethod">
				<option value="Get">Get</option>
				<option value="Post">Post</option>
				<option value="Put">Put</option>
				<option value="Delete">Delete</option>
			</InputSelect>
		</div>
	</div>
	<button type="submit" class="btn btn-primary">Send request</button>
</EditForm>

@if (!string.IsNullOrWhiteSpace(ResponseBody))
{
	<table class="table table-striped table-bordered">
		<colgroup width="20%"></colgroup>
		<tbody>
			<tr>
				<td>Response Status code:</td>
				<td>@ResponseStatusCode</td>
			</tr>
		</tbody>
	</table>

	<div class="m-3 text-break vh-100 overflow-scroll">@ResponseBody</div>
}
else if (@Loading)
{
		<div class="m-3 alert alert-info text-center fs-2" role="alert">
		  Loading!
		</div>
}